* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.containerApp-dark {
    background: rgb(11, 0, 0);
    background: radial-gradient(circle, rgba(11, 0, 0, 1) 0%, rgba(50, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.containerApp-light {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(166, 166, 166, 1) 50%, rgba(255, 255, 255, 1) 100%);
}